* {
    margin: 0;
    color: white;
    font-family: monospace, verdana, sans-serif;
}

html, body {
    background-color: black;
    width: 100%;
    height: 100%;
}

#container, #inventoryContainer {
    width: 600px;
    height: auto;
    aspect-ratio: 1/1;
    margin: 0 auto;
    border: 2px solid white;
}

#inventoryContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}

#itemBar {
    border-right: 2px solid white;
}

#equipBar {
    border-left: 2px solid white;
}

.equipment {
    margin: 20px 0 20px 12px;   
    font-size: 1rem;
}

button {
    background-color: #1F1E1F;
    border: 0px solid white;
    font-size: 1rem;
    margin-top: 10px;
}